<section>
  <div class="container">
    <div class="row text-center">
      <h1>
        admin section! 
      <h1>
    </div>
    <div class="row text-center">
      <h4>
        don't view on mobile. it'll suck
      </h4>
    </div>
  </div>
</section

<section>
    <table class="table table-bordered">
      <thead>
        <tr>
            <th>
              name
            </th>
            <th>
              email
            </th>
            <th>
              address
            </th>
            <th>
              birthday
            </th>
            <th>
              project_description
            </th>
            <th>
              portfolio links
            </th>
            <th>
              website
            </th>
            <th>
              cv_resume_link
            </th>
            <th>
              why_apply
            </th>
            <th>
              instruments
            </th>
            <th>
            </th>
        </tr>
      </thead>
      <tbody>
        <% @coincidents.each do |coincident| %>
          <tr>
            <td>
              <%= coincident.name %>
            </td>
            <td>
              <%= coincident.email %>
            </td>
            <td>
              <%= coincident.address %>
            </td>
            <td>
              <%= coincident.birthday %>
            </td>
            <td>
              <%= link_to(coincident.project_description, "http://#{coincident.project_description}", :target => "_blank" ) %>
            </td>
            <td>
              <%= link_to(coincident.link1, "http://#{coincident.link1}", :target => "_blank" ) %>
              <br />
              <%= coincident.link2 != '' ? link_to(coincident.link2, "http://#{coincident.link2}", :target => "_blank") : '-' %>
              <br />
              <%= coincident.link3 != '' ? link_to(coincident.link3, "http://#{coincident.link3}", :target => "_blank") : '-' %>
            </td>
            <td>
              <%= coincident.website != '' ? link_to(coincident.website, "http://#{coincident.website}", :target => "_blank") : '-' %>
            </td>
            <td>
              <%= link_to coincident.cv_resume_link, "http://#{coincident.cv_resume_link}", :target => "_blank" %>
            </td>
            <td>
              <%= coincident.why_apply %>
            </td>
            <td>
              <%= coincident.instruments %>
            </td>
            <td>
              This is permanent: be VERY careful.
              <%= link_to "Delete Application", coincident_path(coincident.id), method: 'delete', class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <thead>
        <tr>
          <th>
            name
          </th>
          <th>
            email
          </th>
          <th>
            address
          </th>
          <th>
            birthday
          </th>
          <th>
            project_description
          </th>
          <th>
            portfolio links
          </th>
          <th>
            website
          </th>
          <th>
            cv_resume_link
          </th>
          <th>
            why_apply
          </th>
          <th>
            instruments
          </th>
          <th>
          </th>
        </tr>
      </thead>
    </table>
</section>