<section id="application">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-faded">
          ARTISTS
        </h2>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="container guest-artists">
      <!-- joachim goes here -->
      <div class="row guest-artist-row">
        <div class="col-xs-12 col-sm-3">
          <div class="guest-artist-img">
            <%= image_tag asset_url("joachim.jpg")%>
          </div>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs guest-link">
          <h4>
            <%= link_to("Joachim Eckl (Resident Artist)", "http://www.heimart.at/index.php/joachim-eckl.html", :target => "_blank" ) %>
          </h4>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs">
          <p class="text-faded">
          Joachim Eckl (Austria) lives and works in Unternberg near Neufelden at the river Große Mühl which is situated in the Mühlviertel, an area steeped in history and of powerful nature. His ancestors were millers working in the Berndlmühle upstream in Aigen-Schlägl. Through generations the family obtained power and energy from the Große Mühl. At first the energy was used to grind grain in the mills; after that for generating power in the power station. In 1902, his great-grandfather erected the first hydroelectric power station at the Große Mühl to “bring light to town”.
        </p>
        <p class="text-faded">
          Joachim Eckl was born and brought up in 1962 in Haslach. The relation to his country and culture as well as the local particularities became important for Eckl after he returned from studying in New York in 1989. His commitment and work is based on the conviction and knowledge that the achievements of the 20th century entailed progress but also an immoderate carelessness: for Eckl, the time has come to return something to the river and the region. After his studies of psychology in Austria and New York, Eckl has worked for over 20 years in various positions and roles in the art world. In parallel to the realization of over 100 of his own projects, he was part of the implementation of the large-scale projects of Tony Cragg, Jeff Koons, Christo & Jean Claude, and Klaus Rinke. Eckl currently works as a freelance artist under the label HEIM.ART® in “Der Station—Neufelden” and as part of international projects. Run by Eckl, “Die Station—Neufelden”, the former warehouse on the Große Mühl, has been used as an art space for over 10 years. 
        </p>
        <p class="text-faded">
          Joachim Eckl’s work is based on an extended understanding of art which is substantially inspired by Joseph Beuys’ term ‘social sculpture’. Eckl generates impulses for social sculptures through the creation of joint experiences. He regards himself as a ‘social engineer’. Water plays a central role in this work: Eckl understands and uses it as basic element of human interaction. His project 'river-to-river' currently brings together rivers and people from all over the world, generating social warmth. In the years 2008—2009, he realized projects in Austria, the Czech Republic, Germany, Great Britain, Egypt, Zambia, and Zimbabwe.
        </p>
        </div>
      </div>
      <hr class="secondary">

      <!-- amy golden -->
      <div class="row guest-artist-row">
        <div class="col-xs-12 col-sm-3">
          <div class="guest-artist-img">
            <%= image_tag asset_url("twentyeighteen/amy-golden.JPG")%>
          </div>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs guest-link">
          <h4>
            <%= link_to("Amy Golden", "http://www.amygolden.tumblr.com", :target => "_blank" ) %>
          </h4>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs">
          <p class="text-faded">
            Amy Golden is a composer, vocalist, sound artist, and sculptor from Springdale, Arkansas living and working in Los Angeles, California. She creates works for instruments, voice, and objects, as well as sound and sculptural installations and performance art with a special focus on the relationship between sound and object, texture, magical realism, translation across mediums, collections, and the female experience.
          </p>
        </div>
      </div>
      <hr class="secondary">
    
      <!-- Annelyse -->
      <div class="row guest-artist-row">
        <div class="col-xs-12 col-sm-3">
          <div class="guest-artist-img">
            <%= image_tag asset_url("twentyeighteen/arg-photo.jpg")%>
          </div>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs guest-link">
          <h4>
            <%= link_to("Annelyse Gelman  ", "http://www.annelysegelman.com", :target => "_blank" ) %>
          </h4>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs">
          <p class="text-faded">
            <i>Bees swarm to produce new colonies. Sound swarms to produce new attentions.</i>
            <br />
            <br />
            Annelyse Gelman makes things with text and sound. Her poems have appeared in The New Yorker, the PEN Poetry Series, The Awl, Indiana Review, and elsewhere, and she is the author of the collection Everyone I Love Is a Stranger to Someone (2014), a finalist for the Believer Poetry Award. She was poet-in-residence at UCSD’s Brain Observatory in 2012, the Lavinia Winter Fellow at New Pacific Studio in 2013, and a 2016 Fulbright grantee in Berlin for her work at the intersection of poetry, film, and music. She’s interested in intimacy, tactility, language-as-technology, and memory pathology, and is currently a Michener Fellow in Austin, TX. 
          </p>
        </div>
      </div>
      <hr class="secondary">

      <!-- caleb chase -->
      <div class="row guest-artist-row">
        <div class="col-xs-12 col-sm-3">
          <div class="guest-artist-img">
            <%= image_tag asset_url("twentyeighteen/caleb.jpg")%>
          </div>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs guest-link">
          <h4>
            <%= link_to("Caleb Chase", "http://www.calebchase.com", :target => "_blank" ) %>
          </h4>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs">
          <p class="text-faded">
            Caleb Chase is a 22 year old interdisciplinary artist living in Boston who recently graduated from Studio for Interrelated Media at MassArt. He makes music for recordings and performances in bands, alone, and scores for other performers. Additionally, he makes sound work that exists outside the scope of traditional sonic experiences, often combining an auditory element with other traditional art media such as, paintings, installations, or sculptures. Through this he hopes to examine the structures that surround music and how it exists in relationship to technology, culture and ideology beyond its existence as a vibration on the ear drum. 
          </p>
        </div>
      </div>
      <hr class="secondary">

      <!-- cal fish -->
      <div class="row guest-artist-row">
        <div class="col-xs-12 col-sm-3">
          <div class="guest-artist-img">
            <%= image_tag asset_url("twentyeighteen/calfish.jpg")%>
          </div>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs guest-link">
          <h4>
            <%= link_to("Cal Fish", "http://www.calfish.wordpress.com", :target => "_blank" ) %>
          </h4>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs">
          <p class="text-faded">
            From Sea Cliff New York, studying studio art/music at Bard College.
            <br/>
            <br />
            Has been working towards ways of asserting art as a deep socially productive container and sound as a medium for communication. Working towards a collaborative practice that involves interactive sculpture, testimonies, and new contexts for listening. Having performed for years in Brooklyn and around the eastern half of the U.S. work has become informed by d.i.y. art and activist communities and ways of making spaces for participation. Various projects with radio transmission, tape loops, analog video, and body-as-circuit situations have led to sounding buckets, and electromagnetic fields as a new variable architecture for simultaneous listening and movement.
          </p>
        </div>
      </div>
      <hr class="secondary">

      <!-- Kirsten Carey -->
      <div class="row guest-artist-row">
        <div class="col-xs-12 col-sm-3">
          <div class="guest-artist-img">
            <%= image_tag asset_url("twentyeighteen/kirsten-carey-promo-pic.jpg")%>
          </div>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs guest-link">
          <h4>
            <%= link_to("Kirsten Carey", "http://www.kirstencareymusic.com", :target => "_blank" ) %>
          </h4>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs">
          <p class="text-faded">
            Kirsten Carey is a guitarist, composer, and performer living in Detroit, MI. Carey's work seeks to unite ideas across genres and disciplines, as seen in her much-lauded Ulysses Project, a performative song cycle about James Joyce's Ulysses praised as "ten tracks of avant-garde eclecticism perfectly in the mood of the novel" (Alterego Magazine). She also leads Throwaway, an art punk duo dominated by a strange woman in a paper bag mask, with all the "aerodynamic-rock-grit flavors of the likes of Primus or Deerhoof" (Current Magazine). Carey was asked by Elliott Sharp to contribute her piece "Sasquatch / Happening" to Clean Feed Record's I Never Meta Guitar III in 2015. She has been featured on the blog Prepared Guitar and shared the stage with the likes of Elliott Sharp, Weasel Walter, Andrew Bishop, and Thollem McDonas.
          </p>
        </div>
      </div>
      <hr class="secondary">

      <!-- michael pisaro -->
      <div class="row guest-artist-row">
        <div class="col-xs-12 col-sm-3">
          <div class="guest-artist-img">
            <%= image_tag asset_url("with_cocoa.jpg")%>
          </div>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs guest-link">
          <h4>
            <%= link_to("Michael Pisaro", "http://michaelpisaro.blogspot.com//", :target => "_blank" ) %>

          </h4>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs">
          <p class="text-faded">
            Born in Buffalo in 1961, Michael Pisaro is a composer and guitarist, a member of the Wandelweiser Composers Ensemble and founder and director of the Experimental Music Workshop, Calarts.
            </br>
            </br>
            His work is frequently performed in the U.S. and in Europe, in music festivals and in many smaller venues.
            </br>
            </br>
            It has been selected twice by the ISCM jury for performance at World Music Days festivals (Copenhagen,1996; Manchester, 1998) and has also been part of festivals in Hong Kong (ICMC, 1998), Vienna (Wien Modern,1997), Aspen (1991), London (Cutting Edge, 2007), Glasgow (INSTAL 2009), Huddersfield (2009), Chicago (New Music Chicago, 1990, 1991) and elsewhere.
            </br>
            </br>
            He has had extended composer residencies in Germany (Künstlerhof Schreyahn, Dortmund University), Switzerland (Forumclaque/Baden), Israel (Miskenot Sha'ananmim), Greece (EarTalk) and in the U.S. (Birch Creek Music Festival, Wisconsin). 
            </br>
            </br>
            Concert length portraits of his music have been given in Munich, Jerusalem, Los Angeles, Vienna, Merano (Italy), Brussels, New York, Curitiba (Brazil), Amsterdam, London, Tokyo, Austin, Berlin, Chicago, Düsseldorf, Zürich, Cologne, Aarau (Switzerland), and elsewhere.
            </br>
            </br>
            He is a Foundation for Contemporary Arts, 2005 and 2006 Grant Recipient. 
            </br>
            </br>
            Most of his music of the last several years is published by Edition Wandelweiser (Germany).
          </p>
        </div>
      </div>
      <hr class="secondary">

      <!-- ryoko akama -->
      <div class="row guest-artist-row">
        <div class="col-xs-12 col-sm-3">
          <div class="guest-artist-img">
            <%= image_tag asset_url("twentyeighteen/ryoko.jpg")%>
          </div>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs guest-link">
          <h4>
            <%= link_to("Ryoko Akama", "http://www.ryokoakama.com", :target => "_blank" ) %>
          </h4>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs">
          <p class="text-faded">
            Ryoko Akama is a sound artist/composer/performer, who approaches listening situations that magnify silence, time and space and offer quiet temporal/spatial experiences. Her sound works employ small and fragile objects such as paper balloons and glass bottles, creating tiny occurrences that embody ‘almost nothing’ aesthetics. She composes text events and performs a diversity of alternative scores in collaboration with international artists. She runs melange edition label, amespace and co-edits mumei publishing. 
          </p>
        </div>
      </div>

    </div>
  </div>
</section>