<section id="application">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-faded">
          2017 GUEST ARTISTS
        </h2>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="container guest-artists">

      <!-- ben -->
      <div class="row guest-artist-row">
        <div class="col-xs-12 col-sm-3">
          <div class="guest-artist-img">
            <%= image_tag asset_url("BLevinson.jpg")%>
          </div>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs guest-link">
          <h4>
            <%= link_to("Ben Levinson", "https://soundcloud.com/ben_lev", :target => "_blank" ) %>
          </h4>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs">
          <p class="text-faded">
            Ben Levinson is a musician and writer based in Los Angeles. His primary musical project is California's Bellow through which he uses the world of pop music to explore composition, performance, personality, and brand. He regularly contributes reviews and features to the online magazine Tiny Mix Tapes and has self-released three chapbooks of poetry including his latest little collisions. He has never had a broken bone.
          </p>
        </div>
      </div>

      <hr class="secondary">

      <!-- carolyn -->
      <div class="row guest-artist-row">
        <div class="col-xs-12 col-sm-3">
          <div class="guest-artist-img">
            <%= image_tag asset_url("CChen.jpg")%>
          </div>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs guest-link">
          <h4>
            <%= link_to("Carolyn Chen", "http://www.carolyn-chen.com", :target => "_blank" ) %>
          </h4>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs">
          <p class="text-faded">
            Carolyn Chen has made music for supermarket, demolition district, and the dark. Her work reconfigures the everyday to retune habits of our ears through sound, text, light, image, and movement. For a decade she has studied the guqin, the Chinese 7-string zither traditionally played for private meditation in nature, which has inspired her thinking on listening and social space. Recent projects include a a story for ASL interpreter strung to chimes at a distance and commissions for Wild Rumpus and Klangforum Wien. The work has been presented in 22 countries and described by The New York Times as “the evening’s most consistently alluring … a quiet but lush meditation.” It has been supported and commissioned by impuls, MATA, Fulbright Foundation, Paul and Daisy Soros Fellowships for New Americans, Stanford University Sudler Prize, University of California Institute for Research in the Arts, American Composers Forum, ASCAP, Emory Planetarium, Composers Conference at Wellesley, and Machine Project at the Hammer Museum. Recordings are available on Perishable, the wulf., Quakebasket, and Play It Forward. She earned a PhD in music from UC San Diego, and an MA in Modern Thought and Literature and BA in music from Stanford University, with an honors thesis on free improvisation and radical politics. 
          </p>
        </div>
      </div>

      <hr class="secondary">

      <!-- chris williams -->
      <div class="row guest-artist-row">
        <div class="col-xs-12 col-sm-3">
          <div class="guest-artist-img">
            <%= image_tag asset_url("chris.jpg")%>
          </div>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs guest-link">
          <h4>
            <%= link_to("Chris Williams", "http://chriswilliamscomposer.com/", :target => "_blank" ) %>
          </h4>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs">
          <p class="text-faded">
            Chris Williams’ music is elemental and monolithic, work as ‘elegant in the making as in the made’. Ideas of growth and form, emergence, drift and self-similarity, appropriated from biology, in addition to precepts which have resonance across art-forms, science, and nature like colour, line, shape, pattern and process inform and permeate his music. The Philadelphia Inquirer recently called Chris Williams’ music a “a lovely shade of wistful”, while the Daily Review noted it as “brilliantly unsettling music”. 
            <br />
            <br />
            Chris is a graduate of the Sydney Conservatorium of Music and completed a Master of Philosophy in composition, with Robert Saxton, at the University of Oxford. In 2012 Chris was commissioned by Carnegie Hall, where his work ‘San-Shih-Fan’ was premiered. 
          </p>
        </div>
      </div>

      <hr class="secondary">

      <!-- Cindy -->
      <div class="row guest-artist-row">
        <div class="col-xs-12 col-sm-3">
          <div class="guest-artist-img">
            <%= image_tag asset_url("CindyGiron.jpg")%>
          </div>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs guest-link">
          <h4>
            <%= link_to("Cindy Giron", "http://www.cindygiron.com/", :target => "_blank" ) %>
          </h4>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs">
          <p class="text-faded">
            Boston native Cindy Giron is a composer, pianist, educator and contemporary performer currently based in the Netherlands.  She began her musical studies at New England Conservatory's Preparatory School, holds a Bachelors of Music from Manhattan School of Music, a masters in Music Theory & Composition from NYU Steinhardt, and is currently pursuing her second masters degree in Music Composition and Practice-Based Research with a minor in Contemporary Piano Performance at the Royal Conservatory of The Hague. Intrigued by quiet spaces, nature, breath, holistic practices and collaborations, Cindy’s artistic expressions encompass a variety of forms be it solo, chamber and orchestral works, along with installation environments.
          </p>
        </div>
      </div>

      <hr class="secondary">

      <!-- elizabeth -->
      <div class="row guest-artist-row">
        <div class="col-xs-12 col-sm-3">
          <div class="guest-artist-img">
            <%= image_tag asset_url("EBaker.jpg")%>
          </div>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs guest-link">
          <h4>
            <%= link_to("Elizabeth A. Baker", "https://elizabethabaker.com/", :target => "_blank" ) %>
          </h4>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs">
          <p class="text-faded">
            Celebrated for her “terrifying dynamic range,” cleanliness of sound, as well as unique sensitivity and ability to sculpt her performance for the acoustics of a space, Elizabeth A. Baker is a dramatic performer with an honest, near psychic connection to music, which resounds with audiences of all ages and musical backgrounds. As a creator, her understanding of sonic space from organic intuition and studies in music production, pair with a unique eclectic voice, making for a spatial and auditory experience of music. Eschewing the collection of traditional titles that describe single elements of her body of work, Elizabeth refers to herself as a “New Renaissance Artist” that embraces a constant stream of change and rebirth in practice, which expands into a variety of media, chiefly an exploration of how the sonic world can be manipulated to personify a variety of philosophies and principles both tangible as well as intangible
          </p>
        </div>
      </div>

      <hr class="secondary">

      <!-- mike -->
      <div class="row guest-artist-row">
        <div class="col-xs-12 col-sm-3">
          <div class="guest-artist-img">
            <%= image_tag asset_url("MBullock.jpg")%>
          </div>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs guest-link">
          <h4>
            <%= link_to("Mike Bullock", "http://www.mikebullock.com/", :target => "_blank" ) %>
          </h4>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs">
          <p class="text-faded">
            Mike Bullock is a composer, intermedia artist, and writer based in Brooklyn and Philadelphia. His work encompasses improvisation, electroacoustic composition, modular synthesis, intermedia installation, contrabass and bass guitar, porcelain making, illustration, and critical writing.
            <br />
            <br />
            Bullock has been performing electroacoustic improvised music since the mid 90s and has performed across the US and in Europe, at venues such as Fylkingen in Stockholm, Sweden; Instants Chavirés in Paris; Café OTO in London; Experimental Intermedia and ISSUE Project Room in New York City; The Philadelphia Museum of Art; and EMPAC in Troy, NY. In June 2015, Bullock received a Performance Grant from the Pew Center for Arts and Heritage.
            <br />
            <br />
            A graduate of Princeton University and The New England Conservatory of Music, Mike received his PhD in Electronic Arts at Rensselaer Polytechnic Institute. In his dissertation he coined the term Self-idiomatic to describe music born at the nexus of material contingency and the practitioner’s management of unpredictability within a range of practical control. Self-idiomatic music framescontemporary movements in improvised music not simply as a contradiction of received musical structures, but as a continuous creative interchange between the individual and their community. During his time at RPI, Bullock studied and recorded with pioneering electronic composer Pauline Oliveros. As an undergraduate at Princeton, Bullock studied composition and computer music with Paul Lansky and Steve Mackey. His Masters work at New England Conservatory gave him the opportunity to learn from legendary musicians and improvisers such as Ran Blake, Paul Bley, Joe Maneri, and master bassist Cecil McBee.  Bullock is a lecturer in sound in the arts at The New School in New York City.
            <br />
            <br />
            Mike has taught and lectured on field recording and improvisation at Hautes Écoles des Arts du Rhîn (Mulhouse, France), The Pratt Institute, and Massachusetts Institute of Technology.
          </p>
        </div>
      </div>

      <hr class="secondary">

      <!-- sarah -->
      <div class="row guest-artist-row">
        <div class="col-xs-12 col-sm-3">
          <div class="guest-artist-img">
            <%= image_tag asset_url("SPitan.jpg")%>
          </div>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs guest-link">
          <h4>
            <%= link_to("Sarah Pitan", "http://e47730988.tumblr.com/", :target => "_blank" ) %>
          </h4>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs">
          <p class="text-faded">
            Hello. My name is Sarah. I'm black. I'm a girl, too. I steal objects and make use of them. I like to think too hard about: failure, temporal perception, memory, noise, statistics, sports, sameness, difference, territorialization, measurements, and violence—being black, being a girl, too.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>