<section id="application">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-faded">
          GUEST ARTISTS
        </h2>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <div class="container guest-artists">
    <%= render partial: 'home/sections/guest_artist_description', :locals => {
        imageUrl: "2020/RobertBlatt-Antwerpen2019-square.jpg",
        name: "Robert Blatt",
        website: "http://robertblatt.ricercata.org/",
        description: "Robert Blatt (b. 1984 in Anaheim, CA) creates work rooted in explorations of expanded sonic situations through varying frames and gradations of environment, notation, object, performance, text and tone. The notion of a site-responsive practice and scores in their exhaustive sense make a regular appearance in his work, often dissolving aspects of language, location, material and presence as vehicles for an unspecified or autonomous encounter with the ambiguities of the work itself. His work has been presented in the context of performances, exhibitions, readings, publications and a variety of hard-to-pin-down occurrences and has been supported through a fellowship from Akademie Schloss Solitude (DE) and residencies from Initiative for Digital Exploration of Arts and Sciences (CA), Jack Straw Cultural Center (WA) and GEMAK (NL). He co-founded/directed the Miami-based Inlets Foundation for Experimental Practices and the international experimental music/performance art collective Acid Police Noise Ensemble."
    } %>
    <hr class="secondary">
    <%= render partial: 'home/sections/guest_artist_description', :locals => {
        imageUrl: "2020/Carney_Co-IncidencePhoto.jpg",
        name: "Grace Carney",
        website: nil,
        description: "Grace Carney is figuring things out—in practical, material, and sonic worlds. She is an artist interested in performance, sound, queerness, power, and the spaces that can be created within these categories. A third generation Irish-Catholic Bostonian, she can currently be found in Hanover, New Hampshire working and performing with material objects while pursuing her Masters in Dartmouth’s Digital Musics program."
    } %>
    <hr class="secondary">
    <%= render partial: 'home/sections/guest_artist_description', :locals => {
        imageUrl: "joachim.jpg",
        name: "Joachim Eckl",
        website: "http://www.heimart.at/index.php/joachim-eckl.html",
        description: "Joachim Eckl was born and brought up in 1962 in Haslach, Austria. The relation to his country and culture as well as the local particularities became important for Eckl after he returned from studying in New York in 1989. His commitment and work is based on the conviction and knowledge that the achievements of the 20th century entailed progress but also an immoderate carelessness: for Eckl, the time has come to return something to the river and the region. After his studies of psychology in Austria and New York, Eckl has worked for over 20 years in various positions and roles in the art world. In parallel to the realization of over 100 of his own projects, he was part of the implementation of the large-scale projects of Tony Cragg, Jeff Koons, Christo & Jean Claude, and Klaus Rinke. Eckl currently works as a freelance artist under the label HEIM.ART® in “Der Station—Neufelden” and as part of international projects. Run by Eckl, “Die Station—Neufelden”, the former warehouse on the Große Mühl, has been used as an art space for over 10 years. In the years 2008—2009, he realized projects in Austria, the Czech Republic, Germany, Great Britain, Egypt, Zambia, and Zimbabwe."
    } %>
    <hr class="secondary">
    <%= render partial: 'home/sections/guest_artist_description', :locals => {
        imageUrl: "2020/doug.png",
        name: "Douglas Farrand",
        website: "http://www.douglasfarrand.com/",
        description: "Douglas Farrand is a NJ-based composer & musician working at the intersection of music, popular education, and place-based organizing. He is concerned with developing practices that invite us to explore our myriad processes of listening and embody a collective investigation of place, community, and personhood. He works as the Music City Co-Director with the University of Orange, a grassroots community organization and people’s urbanism school in Orange NJ, and as Director of Sonic Explorations, a youth music education program. He is a founding member of LCollective, a Brooklyn-based experimental music collective, alongside Teodora Stepancic, Assaf Gidron, Jesse Greenberg, and Matt Lau. He works closely with percussionists Ryan Packard and Christian Smith, filmmaker Evelyn Emile, poet & composer Porter James, and bassist Jeff Weston."
    } %>
    <hr class="secondary">
    <%= render partial: 'home/sections/guest_artist_description', :locals => {
        imageUrl: "2020/IMG_4908.JPG",
        name: "Cherlyn Hsing-Hsin Liu",
        website: "https://cherlynhsinghsinliu.com/",
        description: "Cherlyn Hsing-Hsin Liu is a Taiwanese born multidisciplinary artist.  She comes from a background in literature and photography, and has developed her interests and practices in experimental arts, including 8mm/16mm/35mm film, mixed media, sound, audiovisual performance and installation. Exploring media languages and experimenting with materials and techniques, her works often are attempts to transcribe life events, self-reflection, and indexical experiences."
    } %>
    <hr class="secondary">
    <%#= render partial: 'home/sections/guest_artist_description', :locals => {
        imageUrl: "2020/",
        name: "Simon Labbé",
        website: "",
        description: ""
    } %>
<!--    <hr class="secondary">-->
    <%= render partial: 'home/sections/guest_artist_description', :locals => {
        imageUrl: "2020/michael_pisaro.png",
        name: "Michael Pisaro",
        website: "https://www.wandelweiser.de/michael-pisaro.html",
        description: "Michael Pisaro (born 1961 in Buffalo, New York) is a guitarist and composer and a member of the Wandelweiser collective. While, like other members of Wandelweiser, Pisaro is known for pieces of long duration with periods of silence, in the past fifteen years his work has branched out in many directions, including work with field recording, electronics, improvisation and large ensembles of very different kinds of instrumental constitution.
          Pisaro has a long-standing collaboration with percussionist Greg Stuart, with over thirty collaborations (pieces and recordings) to date, including their 3-disc set, Continuum Unbound from 2014 and a new piece for amplified percussion and orchestra (to be premiered by the La Jolla Symphony in February, 2020). Recordings of his work have been released by Edition Wandelweiser Records, erstwhile records, New World Records, Hubro, Potlatch, another timbre, meena/ftarri, Senufo Editions, Intonema, winds measure, HEM Berlin and on Pisaro's own imprint, Gravity Wave.
          Pisaro teaches composition and experimental music the California Institute of the Arts."
    } %>
    <hr class="secondary">
    <%= render partial: 'home/sections/guest_artist_description', :locals => {
        imageUrl: "2020/IMG_7985.jpg",
        name: "Sarah Pitan",
        website: nil,
        description: "Hi, my name is Sarah. I make scores for things, mainly music. My practice used to be heavily influenced by contemporary philosophy, but it is now more influenced by my work in retail/customer service. I was born and raised just outside of Boston, and currently live in LA."
    } %>
    <hr class="secondary">
    <%= render partial: 'home/sections/guest_artist_description', :locals => {
        imageUrl: "2020/Morgan - high res copy.jpg",
        name: "Morgan Schoonover",
        website: "https://www.morganschoonover.com/",
        description: "Morgan is an experimental artist based in Minneapolis, Minnesota. After studying studio art, training classically on the clarinet, and obtaining a Masters of Music in Leadership at the Guildhall School of Music and Drama, Morgan has a unique blend of experiences and thinking that feed into her creative practice. Through audio-visual installation and interdisciplinary collaborations, her multi-sensory work often explores social connection through audience participation. She believes that sharing the creative process with others empowers a communal form of artistic ownership and challenges the notion of a singular artistic genius."
    } %>
    <hr class="secondary">
    <%= render partial: 'home/sections/guest_artist_description', :locals => {
        imageUrl: "2020/ryan.png",
        name: "Ryan Seward",
        website: "https://ryansewardmusic.com/",
        description: "Ryan Seward is a percussionist and composer based in Loveland, Colorado. His improvisational work centers around approaching the drum as a site of resonance and employing various techniques and preparations to achieve an extensive timbral palette. He also works with found objects, zither, contact mics, analog electronics, and field recordings. In addition, he is an interpreter of experimental works for and with percussion. As a composer, his practice is rooted in a concern for deep listening, communitarian ritual, and the subjective psychological engagements with the unique characteristics and qualities of our physical, social, and sonic environments."
    } %>
    <hr class="secondary">
    <%= render partial: 'home/sections/guest_artist_description', :locals => {
        imageUrl: "2020/20180224MW.jpg",
        name: "Manfred Werder",
        website: "http://manfred-werder.blogspot.com/",
        description: "Composer and performer, is wandering through the abundance. His scores feature words and sentences found in poetry, philosophy and the world. Earlier works include stück 1998, a 4000 page score whose nonrecurring and intermittent performative realization has been ongoing since December 1997. Lives in situ. "
    } %>
  </div>
</section>
