<section id="application">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-faded">
          ARTISTS
        </h2>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="container guest-artists">
    <!-- clara allison goes here -->
    <div class="row guest-artist-row">
      <div class="col-xs-12 col-sm-3">
        <div class="guest-artist-img">
          <%= image_tag asset_url("twenty19/jar_performance.jpeg")%>
        </div>
      </div>
      <div class="col-xs-12 col-sm-9 centered-xs guest-link">
        <h4>
          <%= link_to("Clara Allison", "https://www.claraallison.com/", :target => "_blank" ) %>
        </h4>
      </div>
      <div class="col-xs-12 col-sm-9 centered-xs">
        <p class="text-faded">
          Clara Allison is an experimental composer, sound programmer, electro-acoustic musician, and sound artist currently based in New Hampshire where she is pursuing her Masters in Digital Musics at Dartmouth. Her work specializes in analog synthesis, organ, instrument design, and sound programming while engaging with concepts of poetics and ecology, the body’s relationship to space/instruments, and the spatializaiton of sound and sense. Clara explored these concepts while double majoring in Literature and Electronic Music and Sound at Bard College where she received her B.A. in 2018. Her current work/thesis at Dartmouth explores the relationship between touch, sound, and light in designing electronic instruments/installations as well as acoustic ecology and the understanding of soundscape design/studies through the lens of climate change. She has studied computer composition and sound installation/instrument design under Bob Bielecki, Michael Casey, Matthew Sargent, Spencer Topel, and Richard Teitelbaum.
        </p>
      </div>
    </div>
    <hr class="secondary">

    <!-- derek baron goes here -->
    <div class="row guest-artist-row">
      <div class="col-xs-12 col-sm-3">
        <div class="guest-artist-img">
          <%= image_tag asset_url("twenty19/dbphoto.jpg")%>
        </div>
      </div>
      <div class="col-xs-12 col-sm-9 centered-xs guest-link">
        <h4>
          <%= link_to("Derek Baron", "http://www.derekianbaron.com/", :target => "_blank" ) %>
        </h4>
      </div>
      <div class="col-xs-12 col-sm-9 centered-xs">
        <p class="text-faded">
          Derek Baron (b. Illinois, 1989) is an artist mostly with sound and music. Their solo work centers around assembling recorded sound, recently trying to engage with questions of whiteness and memory in the audiovisual complex. With Emily Martin, Derek co-operates the Reading Group record label from their apartment in New York. Derek is currently working on a PhD in Historical Musicology at New York University, where they are thinking about questions of race and representation in field recording, audiovisual dissonance, and musical realism. 
        </p>
      </div>
    </div>
    <hr class="secondary">

    <!-- jordan dykstra goes here -->
    <div class="row guest-artist-row">
      <div class="col-xs-12 col-sm-3">
        <div class="guest-artist-img">
          <%= image_tag asset_url("twenty19/JordanDykstra.jpg")%>
        </div>
      </div>
      <div class="col-xs-12 col-sm-9 centered-xs guest-link">
        <h4>
          <%= link_to("Jordan Dykstra", "https://www.jordandykstra.com", :target => "_blank" ) %>
        </h4>
      </div>
      <div class="col-xs-12 col-sm-9 centered-xs">
        <p class="text-faded">
          Jordan Dykstra (IA, 1985) is a composer and violist with interests in the liminality of sound and temporal thresholds. Dykstra has studied with Daníel Bjarnason, Michael Pisaro, Wolfgang von Schweinitz, Ulrich Krieger, Chiyoko Szlavnics, and Alvin Lucier. His largely conceptual works, ranging from “traditional” notation to graphic scores to text scores and beyond, have been performed and programmed throughout North America and Europe.
        </p>
      </div>
    </div>
    <hr class="secondary">

    <!-- joachim goes here -->
      <div class="row guest-artist-row">
        <div class="col-xs-12 col-sm-3">
          <div class="guest-artist-img">
            <%= image_tag asset_url("joachim.jpg")%>
          </div>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs guest-link">
          <h4>
            <%= link_to("Joachim Eckl", "http://www.heimart.at/index.php/joachim-eckl.html", :target => "_blank" ) %>
          </h4>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs">
          <p class="text-faded">
            Joachim Eckl was born and brought up in 1962 in Haslach, Austria. The relation to his country and culture as well as the local particularities became important for Eckl after he returned from studying in New York in 1989. His commitment and work is based on the conviction and knowledge that the achievements of the 20th century entailed progress but also an immoderate carelessness: for Eckl, the time has come to return something to the river and the region. After his studies of psychology in Austria and New York, Eckl has worked for over 20 years in various positions and roles in the art world. In parallel to the realization of over 100 of his own projects, he was part of the implementation of the large-scale projects of Tony Cragg, Jeff Koons, Christo & Jean Claude, and Klaus Rinke. Eckl currently works as a freelance artist under the label HEIM.ART® in “Der Station—Neufelden” and as part of international projects. Run by Eckl, “Die Station—Neufelden”, the former warehouse on the Große Mühl, has been used as an art space for over 10 years. In the years 2008—2009, he realized projects in Austria, the Czech Republic, Germany, Great Britain, Egypt, Zambia, and Zimbabwe.
          </p>
        </div>
      </div>
      <hr class="secondary">

      <!-- john eagle goes here -->
      <div class="row guest-artist-row">
        <div class="col-xs-12 col-sm-3">
          <div class="guest-artist-img">
            <%= image_tag asset_url("twenty19/johnEagle_headshot.jpg")%>
          </div>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs guest-link">
          <h4>
            <%= link_to("John Eagle", "https://johneaglemusic.com/", :target => "_blank" ) %>
          </h4>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs">
          <p class="text-faded">
            John Eagle is a composer, performer, sound designer, and teacher based in Los Angeles. His work explores sound perception and spatialization, harmonic modeling, performance tasks, and different tuning approaches. His music has been performed in the US and Europe by the Dog Star Orchestra, Isaura String Quartet, Inverted Space Ensemble, Guthrie & Streb, What’s Next? Ensemble, Sage City Symphony, and others. His sound design has been heard in interdisciplinary work with artists Janie Geiser, Cassia Streb, Randolyn Zinn, and Dina Janis. He is the co-founder of FWD: /rcrds/ and performs with the Dog Star Orchestra in Los Angeles.
          </p>
        </div>
      </div>
      <hr class="secondary">

      <!-- michael pisaro goes here -->
            <div class="row guest-artist-row">
        <div class="col-xs-12 col-sm-3">
          <div class="guest-artist-img">
            <%= image_tag asset_url("with_cocoa.jpg")%>
          </div>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs guest-link">
          <h4>
            <%= link_to("Michael Pisaro", "http://michaelpisaro.blogspot.com//", :target => "_blank" ) %>

          </h4>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs">
          <p class="text-faded">
            Born in Buffalo in 1961, Michael Pisaro is a composer and guitarist, a member of the Wandelweiser Composers Ensemble and founder and director of the Experimental Music Workshop, Calarts.
            </br>
            </br>
            His work is frequently performed in the U.S. and in Europe, in music festivals and in many smaller venues.
            </br>
            </br>
            It has been selected twice by the ISCM jury for performance at World Music Days festivals (Copenhagen,1996; Manchester, 1998) and has also been part of festivals in Hong Kong (ICMC, 1998), Vienna (Wien Modern,1997), Aspen (1991), London (Cutting Edge, 2007), Glasgow (INSTAL 2009), Huddersfield (2009), Chicago (New Music Chicago, 1990, 1991) and elsewhere.
            </br>
            </br>
            He has had extended composer residencies in Germany (Künstlerhof Schreyahn, Dortmund University), Switzerland (Forumclaque/Baden), Israel (Miskenot Sha'ananmim), Greece (EarTalk) and in the U.S. (Birch Creek Music Festival, Wisconsin). 
            </br>
            </br>
            Concert length portraits of his music have been given in Munich, Jerusalem, Los Angeles, Vienna, Merano (Italy), Brussels, New York, Curitiba (Brazil), Amsterdam, London, Tokyo, Austin, Berlin, Chicago, Düsseldorf, Zürich, Cologne, Aarau (Switzerland), and elsewhere.
            </br>
            </br>
            He is a Foundation for Contemporary Arts, 2005 and 2006 Grant Recipient.
            </br>
            </br>
            Most of his music of the last several years is published by Edition Wandelweiser (Germany).
          </p>
        </div>
      </div>
      <hr class="secondary">

      <!-- angeles rojas goes here -->
      <div class="row guest-artist-row">
        <div class="col-xs-12 col-sm-3">
          <div class="guest-artist-img">
            <%= image_tag asset_url("twenty19/AngelesRojas_photo.JPG")%>
          </div>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs guest-link">
          <h4>
            <%= link_to("Angeles Rojas", "  https://soundcloud.com/angelesrojasaguilo", :target => "_blank" ) %>
          </h4>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs">
          <p class="text-faded">
            Angeles Rojas is a composer from Buenos Aires,
            <br />
            Argentina.
            <br />
            In her music she frequently explores natural and subtle
            <br />
            sounds, developing one single idea as a whole concept
            <br />
            and giving time and space to each intention.
            <br />
            In her free time she likes to be surrounded by nature,
            <br />
            observing the changes of light and sound.
          </p>
        </div>
      </div>
      <hr class="secondary">

      <!-- tim tsang goes here -->
      <div class="row guest-artist-row">
        <div class="col-xs-12 col-sm-3">
          <div class="guest-artist-img">
            <%= image_tag asset_url("twenty19/image1.png")%>
          </div>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs guest-link">
          <h4>
            <%= link_to("Tim Tsang", "http://timtsangtimtsang.com", :target => "_blank" ) %>
          </h4>
        </div>
        <div class="col-xs-12 col-sm-9 centered-xs">
          <p class="text-faded">
            Tim Tsang is a (performer) (performer). Constantly engaged in infinite play as an accumulative performance strategy, Tsang scripts friendly spaces (theoretical, physical) that invite uncertainty and perplexity. Often through over-identification and over-exposure toward the social, these spaces act as repositories for [critical thinking, contemplation, and escapism] in the context of [event, game, and concert].
          </p>
        </div>
      </div>
      <hr class="secondary">


  </div>
</section>
