<section id="logos" style="padding: 15px 0 35px 0;">
  <div class="container">
    <div class="row text-center">
      <h2 class="">
        With generous support from:
      </h2>
      <br />
    </div>
    <div class="row text-center">
        <div class="business-logo">
            <%= image_tag asset_url("business-logos/Amphion4.png") %>
        </div>
        <div class="business-logo">
          <%= image_tag asset_url("business-logos/bcc.jpg") %>
        </div>
        <div class="business-logo">
          <%= image_tag asset_url("business-logos/cafefixe.png") %>
        </div>
        <div class="business-logo">
          <%= image_tag asset_url("business-logos/mcc-logo.jpg") %>
        </div>
        <div class="business-logo">
          <%= image_tag asset_url("business-logos/SAC_black300dpi.jpg") %>
        </div>
        <div class="business-logo">
          <%= image_tag asset_url("business-logos/streetcarlogo.png") %>
        </div>
      </div>
    </div>
  </div>
</div>