<section id="application">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-faded">
          2019 APPLICATION
        </h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="text-faded">
          please see the homepage for details on festival activities, the application, and logistics.
        </p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="text-faded">
          <h3>important dates</h3>
        </p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <ul style="list-style: none;">
          <li>
            <p class="text-faded">
              applications due on sunday, oct 28, by 11:59 pm (est)
            </p>
          </li>
          <li>
            <p class="text-faded">
              acceptance (or not) sent via e-mail november 7th
            </p>
          </li>
          <li>
            <p class="text-faded">
              confirmation of attendance due nov 21
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container" id="collapseExample"> 
    <br />
    <hr />
    <%= form_for(@coincidentTroi, :html => {:class => "form-inline"} ) do |f| %>
      <div class="row">
        <div class="col-md-6">
          <h3>
            personal info (required)
          </h3>
          <p class="text-faded">
            please let us know who you are! our main means of contact will be e-mail, so please check it (and your spam folder) regularly.
          </p>
          <%= f.label :name, 'name', class: 'fugu-width' %>
          <%= f.text_field :name, class: 'form-control', :required => true %>
          <br />

          <%= f.label :email, 'email', class: 'fugu-width m-5-top' %>
          <%= f.text_field :email, class: 'form-control m-5-top', :required => true %>
        </div>
        <div class="col-md-6">
          <h3>
            &nbsp;
          </h3>
          <%= f.label :birthday, 'birthday', :required => true, class: 'fugu-width m-5-top' %>
          <%= f.date_field :birthday, class: 'form-control m-5-top', :required => true %>
          <br />
          <%= f.label :address, 'address', :required => true, class: 'fugu-width m-5-top' %>
          <%= f.text_area :address, class: 'form-control m-5-top', :required => true %>
        </div>
      </div>
      <br />
      <hr />
      <div class="row">
        <div class="col-md-6">
          <h3>
            portfolio
          </h3>
          <p class="text-faded">
            *all documents should be linked to via resources like dropbox and google drive. make sure the documents are accessible to us to view.*
          </p>

          <p class="text-faded">
            you may provide 1 - 3 work samples, in whatever form/format you feel best represents you. to note: we only require 1 work sample, and the number of work samples you submit will not negatively affect application.
          </p>
          <%= f.label :link1, 'work sample 1, link (required)', class: ' m-5-top', :required => true %>
          <%= f.text_field :link1, class: 'form-control', :required => true %>
          <br />
          <%= f.label :link2, 'work sample 2, link (optional)', class: ' m-5-top'  %>
          <%= f.text_field :link2, class: 'form-control m-5-top' %>
          <br />
          <%= f.label :link3, 'work sample 3, link (optional)', class: ' m-5-top'  %>
          <%= f.text_field :link3, class: 'form-control m-5-top' %>
          <br />
        </div>
        <div class="col-md-6">
          <div class="hidden-xs hidden-sm">
            <h3>
              &nbsp;
            </h3>
          </div>
          <%= f.label :website, "website (optional)" %>
          <%= f.text_field :website, class: 'form-control' %>
          <br />
          <p class="text-faded">
            
          </p>
          <%= f.label :tell_us, "please tell us about yourself: what have you been up to? what are you interested in? anything you want us to know?" %>
          <%= f.text_area :tell_us, class: 'form-control' %>
          <p class="text-faded">
          </p>
          <%= f.label :why_ams_you, "lastly, let us know why are you interested in the festival? (can be brief)" %>
          <%= f.text_area :why_ams_you, class: 'form-control' %>
        </div>
      </div>
      <br />
      <hr />
      <div class="row">
        <div class="col-md-6">
          <h3>
            proposal
          </h3>
          <p class="text-faded">
            what is a recent concept-of-interest for you? could you briefly describe your engagement with it and provide us, if possible, a passage, essay, artwork, video, or otherwise that articulate it well. (we hope to fold the guest artist concepts-of-interest into our daily discussions).
          </p>
          <p class="text-faded">
            this year, we will be dealing with conversation as artistic labor, mapping as praxis, nomadic movement, and complicity as a mode of critical exchange between others. these are intended to be in service of collectively developing an ethic (or tactics) that is durable, yet malleable - something available for further and future use. part of this includes proposing various activity-pieces to occur during the festival. 
          </p>
          <p class="text-faded">
            what would you propose for an activity (one or several)? describe it and why you think it is interesting/significant both to our future group/social operations at the festival and your work. this, of course, is not binding, and we don’t expect it to (but it might) be the activity you offer at the festival.
          </p>

        </div>
        <div class="col-md-6">
          <h3>
            &nbsp;
          </h3>
          <%= f.label :link_to_prompt, 'link to your response to the prompt', :required => true, class: ' m-5-top' %>
          <%= f.text_field :link_to_prompt, class: 'form-control form2', :required => true %>

          <br />
          <br />
          <%= f.submit 'SUBMIT APPLICATION', class: 'btn btn-secondary btn-fugu' %>
        </div>
      </div>
    <% end %>
  </div>
</section>