<div class="row">
  <div class="col-xs-4">
    <% if local_assigns[:is_concert] %>
      <i>
        <p class="black"> <%= local_assigns[:time] %> </p>
      </i>
    <% else %>
      <p class="black"> <%= local_assigns[:time] %> </p>
    <% end %>
  </div>
  <div class="col-xs-8">
    <% if local_assigns[:is_concert] %>
      <i>
        <p>
          <b><%= local_assigns[:title1] %> </b>
        </p>
        <% if local_assigns[:title2] %>
          <p>
            <%= local_assigns[:title2] %>
          </p>
        <% end %>
      </i>
    <% else %>
      <p>
        <b><%= local_assigns[:title1] %></b>
      </p>
      <% if local_assigns[:title2] %>
        <p>
          <%= local_assigns[:title2] %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
