<section >
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          2020 Schedule
        </h2>
        <br>
        <p>
          everything is free and open to anyone who wants to participate / view / engage.
        </p>
        <p>
          please feel free to <a href="mailto:coincidence.festival@gmail.com">email us</a> if you have questions.
        </p>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
          text: 'Friday, Jan 10 [Arrival Day]'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '8pm - 10pm',
          title1: 'Welcome Concert',
          title2: '(pieces by Pitan, Gottschalk, Bullock, Eckl, and Pisaro)',
          is_concert: true,
          concert_link: "https://www.facebook.com/events/1283662845139141/"
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
          text: 'Saturday, Jan 11'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '10am - 11am',
          title1: 'Doug Farrand Reading Piece'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '11am - 1pm			',
          title1: 'General Open Discussion, Introduction to Festival, Etc.'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '1pm - 230pm',
          title1: 'Lunch'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '230pm - 5pm',
          title1: 'General Intro of People’s (Ongoing) Pieces/Ideas/Concerns'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '530pm',
          title1: 'Group dinner (for first night)'
      } %>
      <br>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '8pm - 930pm',
          title1: 'Michael Pisaro/Cherlyn Liu Concert',
          is_concert: true,
          concert_link: "https://www.facebook.com/events/594177368005443/"
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
          text: 'Sunday, Jan 12'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '10am - 11am',
          title1: 'Doug Farrand Reading Piece'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '11am - 1pm',
          title1: 'General Open Discussion'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '1pm - 230pm',
          title1: 'Lunch'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '230pm - 5pm',
          title1: 'Manfred Werder talk/discussion'
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
          text: 'Monday, Jan 13'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '10am - 11am',
          title1: 'Doug Farrand Reading Piece'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '11am - 1pm',
          title1: 'General Open Discussion'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '1pm - 230pm',
          title1: 'Lunch'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '230pm - 5pm',
          title1: 'the unlimited present agency, talk/activity'
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
          text: 'Tuesday, Jan 14'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '10am - 11am',
          title1: 'Doug Farrand Reading Piece'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '11am - 1pm',
          title1: 'General Open Discussion'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '1pm - 7pm (approx)',
          title1: 'Lunch / Grace Carney: "The Cambridge-Dorchester Tunnel"',
          title2: '(Walk to Harvard Square; Lunch there; Take T down to Dorchester with Grace; Tea and Snacks with Grace’s Grandmother; Take T back to WSAC; Group Discussion/Performance)'
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
          text: 'Wednesday, Jan 15'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '10am - 11am',
          title1: 'Doug Farrand Reading Piece'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '11am - 1pm',
          title1: 'Group travel to Walden Pond'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '1pm - 230pm',
          title1: 'Lunch'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '[Afternoon open]',
          title1: '',
          is_concert: true
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '7pm - 830pm',
          title1: 'Manfred Werder Concert',
          is_concert: true,
          concert_link: "https://www.facebook.com/events/1265835153624891/"
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
          text: 'Thursday, Jan 16'
      } %>
      <div class="row">
        <div class="col-xs-12">
          <p class="black"><b>Day Off</b></p>
        </div>
      </div>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
          text: 'Friday, Jan 17'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '10am - 11am',
          title1: 'Doug Farrand Reading Piece'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '11am - 1pm',
          title1: 'General Open Discussion'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '1pm - 230pm',
          title1: 'Lunch'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '[Afternoon open]',
          title1: '',
          is_concert: true
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '7pm - 830pm',
          title1: 'Robert Blatt Open Talk/Workshop/Concert',
          is_concert: true,
          concert_link: "https://www.facebook.com/events/2484068061849278/"
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
          text: 'Saturday, Jan 18'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '10am - 11am',
          title1: 'Doug Farrand Reading Piece'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '1115am - ',
          title1: 'Joachim Eckl: Chorus of Screamers, Walk to Harvard Square',
          title2: '[continues into lunch]'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '- 2pm',
          title1: 'Lunch'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '3pm - 430am',
          title1: 'Open Discussion/Prep for Concert'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
          time: '6pm -9pm',
          title1: 'Finale Concert/Event/Continuation of Ongoing Performances',
          is_concert: true,
          concert_link: "https://www.facebook.com/events/410142249710176"
      } %>
    </div>
  </div>
</section>
git